__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/

results/
saved_models/

*.joblib
*.keras

data/

# artifacts / outputs
artifacts_3/
results/
saved_models/
*.keras
*.h5
*.pkl
*.joblib
*.xlsx

# data (never commit datasets)
data/
**/*.npz

# python
__pycache__/
*.pyc
.ipynb_checkpoints/

# env / local
.env
.vscode/
